<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Desk Habitum</title>
    <!-- Material CDN --->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- STYLESHEET -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href = "./style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js"></script>



</head>
<body class="shrink">

    <div class = "container" style="margin:0"  >
        <aside style="z-index:2" class="aside1">
            <div class = "top">
                <span class = "shrink-btn">
                    <!--<i class = 'bx bx-chevron-left'></i>-->
                </span>
                <div class = "logo">
                    <img src = "../images/logo1.png">
                    <h2>Desk<span class= "danger">Habitum</span></h2>
                </div>

            </div>

            <div class="sidebar">
                <div class="menu">
                    <div class="item">
                        <a href = "index.html" >
                            <span class="material-icons-sharp">grid_view</span>
                            <h3>Inicio</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Profile.html" >
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Perfil</h3>
                    </a>
                    </div>
                    <div class="item" id="lider_equipo" style="display:none">
                        <a href = "liderEquipo.html" id="grupos">
                            <span class="material-icons-sharp"><i class="fas fa-users"></i></span>
                            <h3>Equipo</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Tips.html">
                        <span class="material-icons-sharp">receipt_long</span>
                        <h3>Consejos</h3>
                    </a>
                    </div>
                    <div class="item">
                        <a class ="sub-btn active">
                            <span class="material-icons-sharp">insights<i class="fas fa-angle-right dropdown fa-sm"></i></span>
                            <h3>Reportes</h3>
                        </a>
                        <div class = "sub-menu">
                            <a href = "Dashboard.html" class="sub-item" >
                                <span class="material-icons-sharp">front_hand</span>
                                <h3>Manías Compulsivas</h3>
                            </a>
                            
                            <a href = "DashboardPostura.html" class="sub-item">
                                <span class="material-icons-sharp">airline_seat_recline_normal</span>
                                <h3>Postura</h3>
                            </a>
                            <a href = "DashboardVista.html" class="sub-item">
                                <span class="material-icons-sharp">visibility</span>
                                <h3>Fatiga ocular</h3>
                            </a>
                        </div>
                    </div>
    
                    <div class="item">
                        <a href = "Profesionales.html">
                            <span class="material-icons-sharp"><i class="fas fa-user-md"></i></span>
                            <h3>Contacto Profesional</h3>
                        </a>
                    </div>
                    
                    <div class="item">
                        <a class ="sub-btn">
                            <span class="material-icons-sharp"><i class="fas fa-dice-d6"></i><i class="fas fa-angle-right dropdown fa-sm" ></i></span>
                            <h3>Herramientas</h3>
                        </a>
                        <div class = "sub-menu">
                            <a href = "Pomodoro.html" class="sub-item"  style="margin-top:5px;">
                                <span class="material-icons-sharp">browse_gallery</span>
                                <h3>Pomodoro</h3>
                            </a>
                            
                            <a href = "Respiracion.html" class="sub-item" style="margin-top:5px;">
                                <!--<span class="material-icons-sharp">airline_seat_recline_normal</span>-->
                                <span class="material-icons-sharp"><i class="fas fa-wind"></i></span>
                                <h3>Respiración profunda</h3>
                            </a>

                            <a href = "Tuevolucion.html" class="sub-item" style="margin-top:5px;">
                                <!--<span class="material-icons-sharp">airline_seat_recline_normal</span>-->
                                <span class="material-icons-sharp"><i class="fas fa-sign-language"></i></span>
                                <h3>Tu evolución</h3>
                            </a>
                            
                        </div>
                    </div>

                    <div class="item">
                        <a href = "Settings.html">
                            <span class="material-icons-sharp">settings</span>
                            <h3>Configuraciones</h3>
                        </a>
                    </div>

                    
    
                    <div id="cerrar-sesion" class="item">
                    <a href = "#">
                        <span class="material-icons-sharp">logout</span>
                        <h3>Cerrar Sesión</h3>
                    </a>
                    </div>
                </div>
            </div>
        </aside>
        <!----END ASIDE---->
        <main style="z-index:1">

            <div class="mytabs">
                <input type="radio" id="tabfree" name="mytabs" checked="checked">
                <label for="tabfree">General</label>
                <div class="tab">
                    <h1 style="font-size:1.5rem">Reportes Generales</h1>
                    <div class="row" >
                        <div style="width:40%; float:left">
                            <h1 style="font-size:1rem; margin-top:0.3rem; margin-bottom:2rem;"  > Cantidad de detecciones</h1>
                            <div class="col-sm-6">
                                <div class="card"  style="width: 18rem; margin:1.5rem;">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones última sesión</h4>
                                        <h1 style="font-size:1rem;text-align:center; margin-bottom: 0;"><div id="deteccionesUltimaSesion"></div></h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card" style="width: 18rem; margin:1.5rem;">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones totales</h4>
                                        <h1 style="font-size:1rem; text-align:center; margin-bottom: 0;"><div id="deteccionesTotales"></div></h1>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="width: 60%;float:right">
                            <div class="col-sm-6" >
                                <h1 style="font-size:1rem; margin-top:0.3rem" > Porcentaje distracción total</h1>
                                <div id="chartDistraccionTotal" style="margin:auto; width:40%;padding-left:1rem"></div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <h1 style="font-size:1rem; margin-top:0.3rem"> Porcentaje distracción últimas 10 sesiones </h1>
                        <div id="chart10Sesiones" style="margin:auto; padding:1rem"></div>
                    </div>

                </div>

                <input type="radio" id="tabsilver" name="mytabs">
                <label for="tabsilver">Onicofagia</label>
                <div class="tab">
                        <h1 style="font-size:1.5rem">Reportes Onicofagia</h1>

                        <div class="row" >
                            <div style="width:40%; float:left">
                                <h1 style="font-size:1rem; margin-top:0.3rem; margin-bottom:2rem;"  > Cantidad de detecciones</h1>

                                <div class="col-sm-6">
                                    <div class="card"  style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones última sesión</h4>
                                            <h1 id ="ultima-sesion-unhas" style="font-size:1rem;text-align:center; margin-bottom: 0;"></h1>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card" style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones totales</h4>
                                            <h1 id ="total-detecciones-unhas" style="font-size:1rem; text-align:center; margin-bottom: 0;"></h1>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 60%;float:right">
                                <div class="col-sm-6" >
                                <h1 style="font-size:1rem; margin-top:0.3rem" > Porcentaje distracción total</h1>
                                <div id="chartDistraccionTotalUnhas" style="margin:auto; width:40%;padding-left:1rem"></div>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <h1 style="font-size:1rem; margin-top:0.3rem"> Porcentaje distracción últimas 10 sesiones </h1>
                            <div id="chart10SesionesUnhas" style="margin:auto; padding:1rem"></div>
                        </div>

                </div>

                <input type="radio" id="tabgold" name="mytabs">
                <label for="tabgold">Tricotilomanía</label>
                <div class="tab">
                    <div class="row">
                        <div style="width:60%; float:left">
                            <h1 style="padding-top:5px;">Reportes Tricotilomanía</h1>
                        </div>
                        <div style="width: 40%;float:right">
                            <div class="radio2"> 
                                <input class="radio__input" type="radio" value="option1" name="myRadio" id="checktricorec" checked="checked">
                                <label class="radio__label" for="checktricorec">Resumen</label>
                                
                                
                                <input class="radio__input" type="radio" value="option2" name="myRadio" id="checktricomes">
                                <label class="radio__label" for="checktricomes">Por sesión</label>
                                
                                <input class="radio__input" type="radio" value="option3" name="myRadio" id="checktricoanio">
                                <label class="radio__label" for="checktricoanio">Por mes</label>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row" id="tricorec">
                        <h1>Últimas sesiones</h1>
                        <div class="row">
                            <div style="width:40%; float:left">
                                <h1 style="font-size:1rem; margin-top:0.3rem; margin-bottom:2rem;"  > Cantidad de detecciones</h1>
    
                                <div class="col-sm-6">
                                    <div class="card"  style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones última sesión</h4>
                                            <h1 id ="ultima-sesion-trico" style="font-size:1rem;text-align:center; margin-bottom: 0;"></h1> <!-- Cambiar datos trico-->
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card" style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones totales</h4>
                                            <h1 id ="total-detecciones-trico" style="font-size:1rem; text-align:center; margin-bottom: 0;"></h1> <!-- Cambiar datos trico -->
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 60%;float:right">
                                <div class="col-sm-6" >
                                <h1 style="font-size:1rem; margin-top:0.3rem" > Porcentaje distracción total</h1>
                                <div id="#chart_trico1" style="margin:auto; width:40%;padding-left:1rem"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h1 style="font-size:1rem; margin-top:0.3rem"> Porcentaje distracción últimas 10 sesiones </h1>
                            <div id="chart_trico2" style="margin:auto; padding:1rem"></div>
                        </div>
                        
                        
                    </div>

                    <div class="row" id="tricomes">
                        <h1>Evolución por sesión</h1>
                        <div class="row">
                            <div style="width:33%; float:left">
                                <h4>Peor sesión</h4>
                                <div class="card">
                                    <div class="card-header p-3 pt-2">
                                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                        <i class="material-icons opacity-10">person_remove</i>
                                      </div>
                                      <div class="text-end pt-1">
                                        <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                        <h4 class="mb-0" id="peor_ses_trico"></h4>
                                      </div>
                                    </div>
                                                                        
                                  </div>
                            </div>
                            <div style="width: 66%;float:right">
                                <div class="row">
                                    <div style="width:50%; float:left">
                                        <h4>Última sesión</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="ult_ses_trico"></h4>
                                              </div>
                                            </div>                                           
                                            
                                          </div>
                                    </div>
                                    <div style="width: 50%;float:right">
                                        <h4>Mejor sesión</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person_add</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="mejor_ses_trico"></h4>
                                              </div>
                                            </div>                                           
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        </br>                        
                        <div class="row" style="width: 90%; ">
                            <h4 style="margin-top:0.3rem;"></h4>
                            <canvas style="margin-left:100px;" id="trico_comparacion" ></canvas>
                        </div>                        
                    </div>

                    <div class="row" id="tricoanio">
                        <h1></h1>
                        <div class="row">
                            <div style="width:33%; float:left">
                                <h4>Peor mes</h4>
                                <div class="card">
                                    <div class="card-header p-3 pt-2">
                                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                        <i class="material-icons opacity-10">person_remove</i>
                                      </div>
                                      <div class="text-end pt-1">
                                        <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                        <h4 class="mb-0" id="peor_mes_trico"></h4>
                                      </div>
                                    </div>                                  
                                    
                                  </div>
                            </div>
                            <div style="width: 66%;float:right">
                                <div class="row">
                                    <div style="width:50%; float:left">
                                        <h4>Mes Actual</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="ult_mes_trico"></h4>
                                              </div>
                                            </div>                                          
                                            
                                          </div>
                                    </div>
                                    <div style="width: 50%;float:right">
                                        <h4>Mejor mes</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person_add</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="mejor_mes_trico"></h4>
                                              </div>
                                            </div>                                          
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--GRAFICO ANUAL DE TRICOTILOMANiA -->
                      </br>
                        <div class="row">
                            <h1 style="margin-top:0.3rem;"> Evolución mensual por sesión</h1>
                            <!--<h1 style="font-size:1rem; margin-top:0.3rem"> Tiempo de distracción, monitoreo y total </h1>-->
                            <div id="chart_tricomes" style="margin:auto; padding:1rem"></div>
                        </div>

                        

                        

                    </div>

                    
            
                  
                    
                </div>

                <input type="radio" id="tablast" name="mytabs">
                <label for="tablast">Manía Morder objetos</label>
                <div class="tab">
                    <div class="row">
                        <div style="width:60%; float:left">
                            <h1 style="padding-top:5px;">Reportes Manía Morder Objetos</h1>
                        </div>
                        <div style="width: 40%;float:right">
                            <div class="radio2"> 
                                <input class="radio__input" type="radio" value="option1" name="myRadio" id="checkobjrec" checked="checked">
                                <label class="radio__label" for="checkobjrec">Resumen</label>
                                
                                
                                <input class="radio__input" type="radio" value="option2" name="myRadio" id="checkobjmes">
                                <label class="radio__label" for="checkobjmes">Por sesión</label>
                                
                                <input class="radio__input" type="radio" value="option3" name="myRadio" id="checkobjanio">
                                <label class="radio__label" for="checkobjanio">Por mes</label>
                            </div>
                        </div>
                       
                    </div>

                    <div class="row" id="objrec">
                        <h1>Recientes</h1>
                        <div class="row">
                            <div style="width:40%; float:left">
                                <h1 style="font-size:1rem; margin-top:0.3rem; margin-bottom:2rem;"  > Cantidad de detecciones</h1>
    
                                <div class="col-sm-6">
                                    <div class="card"  style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones última sesión</h4>
                                            <h1 id ="ultima-sesion-morder" style="font-size:1rem;text-align:center; margin-bottom: 0;"></h1> <!-- Cambiar datos morder -->
    
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="card" style="width: 18rem; margin:1.5rem;">
                                        <div class="card-body" style="padding:0.4rem">
                                            <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones totales</h4>
                                            <h1 id ="total-detecciones-morder" style="font-size:1rem; text-align:center; margin-bottom: 0;"></h1> <!-- Cambiar datos morder-->
    
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="width: 60%;float:right">
                                <div class="col-sm-6" >
                                <h1 style="font-size:1rem; margin-top:0.3rem" > Porcentaje distracción total</h1>
                                <div id="#chart_obj1" style="margin:auto; width:40%;padding-left:1rem"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h1 style="font-size:1rem; margin-top:0.3rem"> Porcentaje distracción últimas 10 sesiones </h1>
                            <div id="#chart_obj2" style="margin:auto; padding:1rem"></div>
                        </div>    
                    </div>

                    <div class="row" id="objmes">

                        <h1>Ultima sesión</h1>
                        <div class="row">
                            <!--3 cuadritos obj-->
                            <div class="row">
                                <div style="width:33%; float:left">
                                    <h4>Peor sesión</h4>
                                    <div class="card">
                                        <div class="card-header p-3 pt-2">
                                          <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                            <i class="material-icons opacity-10">person_remove</i>
                                          </div>
                                          <div class="text-end pt-1">
                                            <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                            <h4 class="mb-0" id="peor_ses_obj"></h4>
                                          </div>
                                        </div>                                      
                                        
                                      </div>
                                </div>
                                <div style="width: 66%;float:right">
                                    <div class="row">
                                        <div style="width:50%; float:left">
                                            <h4>Última sesión</h4>
                                            <div class="card">
                                                <div class="card-header p-3 pt-2">
                                                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                    <i class="material-icons opacity-10">person</i>
                                                  </div>
                                                  <div class="text-end pt-1">
                                                    <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                    <h4 class="mb-0" id="ult_ses_obj"></h4>
                                                  </div>
                                                </div>                                              
                                                
                                              </div>
                                        </div>
                                        <div style="width: 50%;float:right">
                                            <h4>Mejor sesión</h4>
                                            <div class="card">
                                                <div class="card-header p-3 pt-2">
                                                  <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                    <i class="material-icons opacity-10">person_add</i>
                                                  </div>
                                                  <div class="text-end pt-1">
                                                    <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                    <h4 class="mb-0" id="mejor_ses_obj"></h4>
                                                  </div>
                                                </div>                                              
                                                
                                              </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                          </br>                        
                          <div class="row" style="width: 90%; ">
                            <h4 style="margin-top:0.3rem;"></h4>
                            <canvas style="margin-left:100px;" id="ob_comparacion" ></canvas>
                        </div>                          
                            
                        </div>                     

                        
                    </div>
                    <div class="row" id="objanio">
                        <h1></h1>
                        <div class="row">
                            <div style="width:33%; float:left">
                                <h4>Peor mes</h4>
                                <div class="card">
                                    <div class="card-header p-3 pt-2">
                                      <div class="icon icon-lg icon-shape bg-gradient-dark shadow-dark text-center border-radius-xl mt-n4 position-absolute">
                                        <i class="material-icons opacity-10">person_remove</i>
                                      </div>
                                      <div class="text-end pt-1">
                                        <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                        <h4 class="mb-0" id="peor_mes_obj"></h4>
                                      </div>
                                    </div>                                                                       
                                  </div>
                            </div>
                            <div style="width: 66%;float:right">
                                <div class="row">
                                    <div style="width:50%; float:left">
                                        <h4>Mes actual</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="ult_mes_obj"></h4>
                                              </div>
                                            </div>           
                                            
                                          </div>
                                    </div>
                                    <div style="width: 50%;float:right">
                                        <h4>Mejor mes</h4>
                                        <div class="card">
                                            <div class="card-header p-3 pt-2">
                                              <div class="icon icon-lg icon-shape bg-gradient-success shadow-success text-center border-radius-xl mt-n4 position-absolute">
                                                <i class="material-icons opacity-10">person_add</i>
                                              </div>
                                              <div class="text-end pt-1">
                                                <p class="text-sm mb-0 text-capitalize">Cantidad de detecciones</p>
                                                <h4 class="mb-0" id="mejor_mes_obj"></h4>
                                              </div>
                                            </div>                                          
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--GRÁFICO ANUAL DE MORDER OBJETOS -->
                      </br>
                      <div class="row">
                          <h1 style="margin-top:0.3rem;"> Evolución mensual por sesión</h1>
                          <!--<h1 style="font-size:1rem; margin-top:0.3rem"> Tiempo de distracción, monitoreo y total </h1>-->
                          <div id="chart_obmes" style="margin:auto; padding:1rem"></div>
                      </div>
                        <!-- grafico 3 meses -->
                        


                    </div>
                    
            
                  
                    
                </div>

                <input type="radio" id="tablast2" name="mytabs">
                <label for="tablast2">Rinotilexomanía</label>
                <div class="tab">
                </div>

                <input type="radio" id="tablast3" name="mytabs">
                <label for="tablast3">Dermatilomanía</label>
                <div class="tab">
                </div>

            </div>



            

        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../navbar.js"></script>
    <script src="../graficos/maniasCompulsivas.js"></script>
    
    <!--<script src="../renderWebcam.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });
        $('.sub-btn .sub-item').click(function(e){
            e.stopPropagation();
        });
            
        });
    </script>


</body>
</html>
