</div>
<h1>Contacto con profesionales de la salud</h1>
<br/>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" class="form-control" id="nombre_contacto" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Email</label>
        <input type="email" class="form-control" id="email_contacto" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono_contacto" placeholder="99999999">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Región</label>
          <select class="custom-select mr-sm-2" id="region_contacto">
            <option selected>...</option>
            <option value="1">Arica y Parinacota</option>
            <option value="2">Tarapacá</option> 
            <option value="3">Antofagasta</option> 
            <option value="4">Atacama</option> 
            <option value="5">Coquimbo</option> 
            <option value="6">Valparaíso</option> 
            <option value="7">Metropolitana de Santiago</option> 
            <option value="8">Libertador General Bernardo O'Higgins</option> 
            <option value="9">Maule</option> 
            <option value="10">Ñuble</option> 
            <option value="11">Biobío</option>   
            <option value="12">La Araucanía</option> 
            <option value="13">Los Ríos</option> 
            <option value="14">Los Lagos</option> 
            <option value="15">Aysén</option> 
            <option value="16">Magallanes y de la Antártica Chilena</option>      
        </select>
      </div>
        
        <div class="form-group col-md-6">
          <label for="inputZip">Ciudad</label>
          <input type="text" class="form-control" id="ciudad_contacto">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputState">Tipo de atención</label>
            
            <select class="custom-select mr-sm-2" id="atencion_contacto">
                <option selected>Atención...</option>
                <option value="1">Online</option>
                <option value="2">Presencial</option>        
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Profesional</label>
            
            <select class="custom-select mr-sm-2" id="profesional_contacto">
                <option selected>Seleccionar</option>
                <option value="1">Médico general</option>
                <option value="2">Psicólogo</option> 
                <option value="2">Psiquiatra</option>       
            </select>
        </div>
        
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Motivo de consulta</label>
        <textarea class="form-control" id="motivo_contacto" rows="3"></textarea>
    
  </div>  
  <div class="form-group">   
    <label >Subir Archivo</label>     
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
  </div>
  </div> 
    <button type="submit" class="btn btn-primary" id="btn_formulario">Contactar Profesional</button>
</form>
