</div>
<h1>Contacto con profesionales de la salud</h1>
<br/>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Nombre</label>
        <input type="text" class="form-control" id="nombre_contacto" placeholder="Nombre">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Email</label>
        <input type="email" class="form-control" id="email_contacto" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono</label>
      <input type="text" class="form-control" id="telefono_contacto" placeholder="99999999">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="inputCity">Región</label>
          <select class="custom-select mr-sm-2" id="region_contacto">
            <option selected>...</option>
            <option value="Arica y Parinacota">Arica y Parinacota</option>
            <option value="Tarapacá">Tarapacá</option> 
            <option value="Antofagasta">Antofagasta</option> 
            <option value="Atacama">Atacama</option> 
            <option value="Coquimbo">Coquimbo</option> 
            <option value="Valparaíso">Valparaíso</option> 
            <option value="Metropolitana de Santiago">Metropolitana de Santiago</option> 
            <option value="Libertador General Bernardo O'Higgins">Libertador General Bernardo O'Higgins</option> 
            <option value="Maule">Maule</option> 
            <option value="Ñuble">Ñuble</option> 
            <option value="Biobío">Biobío</option>   
            <option value="La Araucanía">La Araucanía</option> 
            <option value="Los Ríos">Los Ríos</option> 
            <option value="Los Lagos">Los Lagos</option> 
            <option value="Aysén">Aysén</option> 
            <option value="Magallanes y de la Antártica Chilena">Magallanes y de la Antártica Chilena</option>      
        </select>
      </div>
        
        <div class="form-group col-md-6">
          <label for="inputZip">Ciudad</label>
          <input type="text" class="form-control" id="ciudad_contacto">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputState">Tipo de atención</label>
            
            <select class="custom-select mr-sm-2" id="atencion_contacto">
                <option selected>Atención...</option>
                <option value="Online">Online</option>
                <option value="Presencial">Presencial</option>        
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="inputState">Profesional</label>
            
            <select class="custom-select mr-sm-2" id="profesional_contacto">
                <option selected>Seleccionar</option>
                <option value="Médico general">Médico general</option>
                <option value="Psicólogo">Psicólogo</option> 
                <option value="Psiquiatra">Psiquiatra</option>       
            </select>
        </div>
        
    </div>
    
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Motivo de consulta</label>
        <textarea class="form-control" id="motivo_contacto" rows="3"></textarea>
    
  </div>  
  <div class="form-group">   
    <label >Subir Archivo</label>     
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
    <label class="custom-file-label" for="customFileLang">Seleccionar Archivo</label>
  </div>
  </div> 
    <button type="submit" class="btn btn-primary" onclick='contactar_profesional()'>Contactar Profesional</button>
    <a href="Profesionales.html">VOLVER</a>
</form>
<script src="../test_handleButtons.js"></script>
