<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Equipo</title>
    <!-- Material CDN --->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- STYLESHEET -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href = "./style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body class="shrink">
    <div class = "container" style="margin:0" >
        <aside style="z-index:2" class="aside1">
            <div class = "top">
                <span class = "shrink-btn">
                    <!--<i class = 'bx bx-chevron-left'></i>-->
                </span>
                <div class = "logo">
                    <img src = "../images/logo1.png">
                    <h2>Desk<span class= "danger">Habitum</span></h2>
                </div>

            </div>

            <div class="sidebar">
                <div class="menu">
                    <div class="item">
                        <a style= "text-decoration: none" href = "index.html" >
                            <span class="material-icons-sharp">grid_view</span>
                            <h3>Inicio</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Profile.html" >
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Perfil</h3>
                    </a>
                    </div>
                    <div class="item" id="lider_equipo" >
                        <a href = "liderEquipo.html" id="grupos"class="active">
                            <span class="material-icons-sharp"><i class="fas fa-users"></i></span>
                            <h3>Equipo</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Tips.html">
                        <span class="material-icons-sharp">receipt_long</span>
                        <h3>Consejos</h3>
                    </a>
                    </div>
                    <div class="item">
                        <a class ="sub-btn">
                            <span class="material-icons-sharp">insights<i class="fas fa-angle-right dropdown fa-sm"></i></span>
                            <h3>Reportes</h3>
                        </a>
                        <div class = "sub-menu">
                            <a href = "Dashboard.html" class="sub-item" >
                                <span class="material-icons-sharp">front_hand</span>
                                <h3>Manías Compulsivas</h3>
                            </a>
                            
                            <a href = "DashboardPostura.html" class="sub-item">
                                <span class="material-icons-sharp">airline_seat_recline_normal</span>
                                <h3>Postura</h3>
                            </a>
                            <a href = "DashboardVista.html" class="sub-item">
                                <span class="material-icons-sharp">visibility</span>
                                <h3>Fatiga ocular</h3>
                            </a>
                        </div>
                    </div>
                    
                    <div class="item">
                        <a href = "Profesionales.html">
                            <span class="material-icons-sharp"><i class="fas fa-user-md"></i></span>
                            <h3>Contacto Profesional</h3>
                        </a>
                    </div>
    
                    <div class="item">
                    <a href = "Settings.html">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Configuraciones</h3>
                    </a>
                    </div>
                    <div class="item">
                        <a href = "Pomodoro.html">
                            <span class="material-icons-sharp">browse_gallery</span>
                            <h3>Pomodoro</h3>
                        </a>
                    </div>
    
                    <div id="cerrar-sesion" class="item">
                    <a href = "#">
                        <span class="material-icons-sharp">logout</span>
                        <h3>Cerrar Sesión</h3>
                    </a>
                    </div>
                </div>
            </div>
        </aside>
        <!----END ASIDE---->
        <main style="z-index:1">
            <nav>

            </nav>
            <h1 style="margin-top:5px;">Detección de manías compulsivas del equipo <span>DolphinDev</span></h1>
            <div class="row" >
                <div style="width:40%; float:left">
                    <h1 style="font-size:1rem; margin-top:0.3rem; margin-bottom:2rem; "  > Cantidad de detecciones</h1>

                    <div class="col-sm-6">
                        <div class="card"  style="width: 18rem; margin:1.5rem;">
                            <div class="card-body" style="padding:0.4rem">
                                <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones último día</h4>
                                <h1 id ="ultima-sesion-unhas-grupo" style="font-size:1rem;text-align:center; margin-bottom: 0;"></h1>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card" style="width: 18rem; margin:1.5rem;">
                            <div class="card-body" style="padding:0.4rem">
                                <h4 class="card-title" style="text-align:center; text-decoration:underline">Cantidad de detecciones último mes</h4>
                                <h1 id ="total-detecciones-unhas-grupo" style="font-size:1rem; text-align:center; margin-bottom: 0;"></h1>

                            </div>
                        </div>
                    </div>
                </div>
                <div style="width: 60%;float:right;padding-left:60px;">
                    <div class="col-sm-12" >
                        <h1 style="font-size:1rem; margin-top:0.3rem" > Nivel de estrés y ansiedad</h1>
                        <p>Sabías que una <span style="font-weight:bold;">alta detección en manías compulsivas</span>, como morderse las uñas, arrancarse el cabello o morder objetos, podrían significar <span style="font-weight:bold;">grandes niveles de estrés y ansiedad.</span>  </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="card"  style="width: 18rem; margin:1.5rem; margin-left:110px; margin-top:30px;">
                            <div class="card-body" style="padding:0.4rem;">
                                <h4 class="card-title" style="text-align:center; text-decoration:underline">Nivel de estrés</h4>
                                <h1 id ="nivel_cansancio_manias" style="font-size:1rem;text-align:center; margin-bottom: 0;"></h1>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="row">
                <h1 style="font-size:1rem; margin-top:0.3rem"> Porcentaje distracción últimos 10 días </h1>
                <div id="chart_equipomanias" style="margin:auto; padding:1rem"></div>
            </div>

            <a href="liderEquipo.html" style="margin-left:600px;">
                <button type='button' class="btn btn-outline-primary" style="color:#3aaf88; border-color: #3aaf88;border-width: 2px; "onmouseover="this.style.backgroundColor='#3aaf88';this.style.color='white';" onmouseout="this.style.backgroundColor=''; this.style.color='#3aaf88';">VOLVER A GESTIÓN DE EQUIPO</button>
            </a>
                    



        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../navbar.js"></script>
    <script src="../graficos/equipo.js"></script>
    <!--<script src="../renderWebcam.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });
        $('.sub-btn .sub-item').click(function(e){
            e.stopPropagation();
        });
            
        });
    </script>
</body>
</html>
