<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width", initial-scale="1.0">
    <title>Equipo</title>
    <!-- Material CDN --->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- STYLESHEET -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href = "./style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body class="shrink">
    <div class = "container" style="margin:0" >
        <aside style="z-index:2" class="aside1">
            <div class = "top">
                <span class = "shrink-btn">
                    <!--<i class = 'bx bx-chevron-left'></i>-->
                </span>
                <div class = "logo">
                    <img src = "../images/logo1.png">
                    <h2>Desk<span class= "danger">Habitum</span></h2>
                </div>

            </div>

            <div class="sidebar">
                <div class="menu">
                    <div class="item">
                        <a style= "text-decoration: none" href = "index.html" >
                            <span class="material-icons-sharp">grid_view</span>
                            <h3>Inicio</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Profile.html" >
                        <span class="material-icons-sharp">person_outline</span>
                        <h3>Perfil</h3>
                    </a>
                    </div>
                    <div class="item" id="lider_equipo" >
                        <a href = "liderEquipo.html" id="grupos" class="active">
                            <span class="material-icons-sharp"><i class="fas fa-users"></i></span>
                            <h3>Líder de equipo</h3>
                        </a>
                    </div>
                    <div class="item">
                    <a href = "Tips.html">
                        <span class="material-icons-sharp">receipt_long</span>
                        <h3>Consejos</h3>
                    </a>
                    </div>
                    <div class="item">
                        <a class ="sub-btn">
                            <span class="material-icons-sharp">insights<i class="fas fa-angle-right dropdown fa-sm"></i></span>
                            <h3>Reportes</h3>
                        </a>
                        <div class = "sub-menu">
                            <a href = "Dashboard.html" class="sub-item" >
                                <span class="material-icons-sharp">front_hand</span>
                                <h3>Manías Compulsivas</h3>
                            </a>
                            
                            <a href = "DashboardPostura.html" class="sub-item">
                                <span class="material-icons-sharp">airline_seat_recline_normal</span>
                                <h3>Postura</h3>
                            </a>
                            <a href = "DashboardVista.html" class="sub-item">
                                <span class="material-icons-sharp">visibility</span>
                                <h3>Fatiga ocular</h3>
                            </a>
                        </div>
                    </div>
                    
                    <div class="item">
                        <a href = "Profesionales.html">
                            <span class="material-icons-sharp"><i class="fas fa-user-md"></i></span>
                            <h3>Contacto Profesional</h3>
                        </a>
                    </div>
                    
    
                    <div class="item">
                    <a href = "Settings.html">
                        <span class="material-icons-sharp">settings</span>
                        <h3>Configuraciones</h3>
                    </a>
                    </div>
                    
                    <div class="item">
                        <a href = "Pomodoro.html">
                            <span class="material-icons-sharp">browse_gallery</span>
                            <h3>Pomodoro</h3>
                        </a>
                    </div>
                    
                    <div id="cerrar-sesion" class="item">
                    <a href = "#">
                        <span class="material-icons-sharp">logout</span>
                        <h3>Cerrar Sesión</h3>
                    </a>
                    </div>
                </div>
            </div>
        </aside>
        <!----END ASIDE---->
        <main style="z-index:1">
            <nav>

            </nav>
            <h1 style="font-size:16px;">Equipo <span>DolphinDev</span></h1>
            <div class="row" >

                <div style="width:40%; float:left">

                    <div class="col py-3" style="padding-left:1rem">
                        <h1 style="font-size:1rem; ">Código de invitación a miembros de equipo</h1>
                        <div style="text-align:justify;text-justify:inter-character;justify-content: center;">Comparta el código<span class="force-select" style="color:#3AAF88; font-size:18px;"> as124K*_l </span>con los miembros de su equipo para que estos lo ingresen desde su aplicación.</div>



                        <div  role="group" aria-label="Basic example" style="padding-left:8.3rem;padding-top:0.85rem;">
                            <a href="formulario_equipo.html" style="margin-left:50px;"><button type='button' class="btn btn-outline-primary" href="">Editar</button></a>
                            
                            <button id='btnstop' type='button' class="btn btn-outline-primary" onclick='javascript:(0)'>Eliminar</button>
                        </div>
                    </div>
                </div>

                <div style="width: 60%;float:right">
                    <div class="col py-3" style="padding-left:1.5rem">
                        <h1 style="font-size:1rem; ">Datos equipo último mes</h1>

                        <div class="row" style="padding-bottom:0.5rem; padding-left:0.5rem">
                            <div class="col-sm-6" >
                                <div class="card"  style="width: 15rem;  height: 4rem; ">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline">Nivel de ansiedad</h4>
                                        <h1 id= "Card-Sesion" style="font-size:1rem;text-align:center; margin-bottom: 0;">Alto</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card" style="width: 15rem; height: 4rem;">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline"># Detecciones Manías</h4>
                                        <h1 id= "Card-Manias" style="font-size:1rem; text-align:center; margin-bottom: 0;">131</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top:0.1rem;padding-left:0.5rem;">
                            <div class="col-sm-6" >
                                <div class="card"  style="width: 15rem;  height: 4rem;">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline">Detección de mala postura</h4>
                                        <h1 id= "Card-Postura" style="font-size:1rem;text-align:center; margin-bottom: 0;">Si</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card" style="width: 15rem; height: 4rem;">
                                    <div class="card-body" style="padding:0.4rem">
                                        <h4 class="card-title" style="text-align:center; text-decoration:underline">Detección fatiga visual</h4>

                                    <!--<h1 style="font-size:1rem; text-align:center; margin-bottom: 0;">Si <i class="bi bi-check-square" style="color:green;"></i></h1>-->
                                    <h1 id= "Card-Visual" style="font-size:1rem; text-align:center; margin-bottom: 0;">No</h1>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!--<div id="chart2"></div> -->
            <div class="row" >

                <div style="width:30%; float:left">
                    <div class="col py-3" style="padding-left:1rem">
                            <h1 style="font-size:1rem; ">Integrantes</h1>
                            <!--<h1 style="margin-top:20px">Equipo DolphinDev</h1>-->
                            <br/>
                            <table class="table table-striped">
                                <thead>
                                  <tr>
                                    <!--<th scope="col">Editar</th>-->
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellido</th>
                                    <th scope="col">Eliminar</th>
                                  </tr>
                                </thead>
                                <tbody id="myTable2">                          
                                  
                                  
                                  
                                </tbody>
                              </table>
                    </div>

                    <a href="liderEquipoSolicitudes.html" style="margin-left:110px;">
                        <button type='button' class="btn btn-outline-primary" style="color:#052941;border-color: #3ac68f;border-width: 2px; " onmouseover="this.style.backgroundColor='#89b5ba'" onmouseout="this.style.backgroundColor=''" >Ver Solicitudes</button>

                    </a>
                </div>

                <div style="width: 70%;float:right;">
                    <div class="row">
                        <div style="width: 60%;float:left">
                            <div class="col py-3" style="padding-left:0.5rem">
                                <h1 style="font-size:1rem; ">% de tiempo con distracción</h1>
                            
                                    <div  id="chart_equipo1" ></div>
                                    <div  id="chart_equipo2" ></div>        
                            </div>
                        </div>
                        <div style="width:35%;float:right">
                            <div class="col py-3" style="padding-left:0.5rem">
                                <h1 style="font-size:1rem; ">+ Información</h1>
                                <p style="text-align:justify;text-justify:inter-character;justify-content: center;margin-left:20px;">Para más gráficos apriete el botón correspondiente.</p>
                                <a href="liderEquipodashmanias.html">
                                    <button type='button' class="btn btn-outline-primary" style="margin-left:70px;color:#052941; border-color: #3ac68f;border-width: 2px; margin-bottom:20px; margin-top:30px;"onmouseover="this.style.backgroundColor='#89b5ba'" onmouseout="this.style.backgroundColor=''">Manías</button>
                                </a>
                                <a href="liderEquipodashvista.html">
                                    <button type='button' class="btn btn-outline-primary" style="margin-left:50px;color:#052941; border-color: #3ac68f;border-width: 2px; margin-bottom:20px;" onmouseover="this.style.backgroundColor='#89b5ba'" onmouseout="this.style.backgroundColor=''">Fatiga Visual</button>
                                </a>
                                <a href="liderEquipodashpostura.html">
                                    <button type='button' class="btn btn-outline-primary" style="margin-left:70px;color:#052941;border-color: #3ac68f;border-width: 2px; " onmouseover="this.style.backgroundColor='#89b5ba'" onmouseout="this.style.backgroundColor=''" >Postura</button>

                                </a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
                    



        </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="../navbar.js"></script>
    <script src="../graficos/equipo.js"></script>
    <script src="../handleGrupos.js"></script>
    <!--<script src="../renderWebcam.js"></script>-->
    <script type="text/javascript">
        $(document).ready(function(){
            $('.sub-btn').click(function(){
            $(this).next('.sub-menu').slideToggle();
            $(this).find('.dropdown').toggleClass('rotate');
        });
        $('.sub-btn .sub-item').click(function(e){
            e.stopPropagation();
        });
            
        });
    </script>
</body>
</html>
