<link rel="stylesheet" href="stylelogin2.css">
<meta charset="UTF-8">
<div class="container">
    <div class="info">

    </div>
 </div>
  <div class="form">
    <div class="thumbnail"><img src="https://deskhabitum.feriadesoftware.cl/images/logolargo2.jpeg"/></div>
    <h1>Inicio de Sesión</h1>
    <form class="login-form">
      
      <input type="text" placeholder="Usuario"/>
      <input type="password" placeholder="Contraseña"/>
      
      <div class="checkbox">
          <input type="checkbox"/>Recordarme
        
      </div>
      

      
      
      <button>Iniciar Sesión</button>

  
      
        
      
      
      <p class="message">No esta registrado?<a href="register2.html">Crear cuenta</a></p>
    </form>
    
  </div>
  <video id="video" autoplay="autoplay" loop="loop" poster="polina.jpg">
    <source src="http://andytran.me/A%20peaceful%20nature%20timelapse%20video.mp4" type="video/mp4"/>
  </video>