<link rel="stylesheet" href="stylelogin2.css">
<meta charset="UTF-8">
<div class="container">
    <div class="info">

    </div>
 </div>
  <div class="form">
    <div class="thumbnail"><img src="https://deskhabitum.feriadesoftware.cl/images/logolargo2.jpeg"/></div>
    <h1>Inicio de Sesión</h1>
    <form class="login-form">
      
      <input id="email" type="text" placeholder="Correo electrónico"/>
      <input id="password" type="password" placeholder="Contraseña"/>
      
      <!--<div class="checkbox">
          <input type="checkbox"/>Recordarme
        
      </div>-->
      

      
      
      <button id="login">Iniciar Sesión</button>
      
      <p class="message">No esta registrado?<a href="#" id="registro">Crear cuenta</a></p>
    </form>
    
  </div>
 