<html>

    <link rel="stylesheet" href="stylesignup2.css">

    <form action="" method="POST" id="form">
        <div class="form">
            <h1>Inicio Sesión</h1>
            <div class="grupo">
                <input type="text" name="" id="name" required><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <input type="password" name="" id="password" required><span class="barra"></span>
                <label for="">Contraseña</label>
            </div>

            <button type="submit" >Iniciar Sesión</button>

            <h4>No tienes cuenta?</h4><a href="register.html">Registrarse</a>
        </div>
    </form>

    



</html>