<link rel="stylesheet" href="stylelogin2.css">
<meta charset="UTF-8">
<div class="container">
    <div class="info">
      
    </div>
  </div>

  

  <div class="form">
    <div class="thumbnail"><img src="https://deskhabitum.feriadesoftware.cl/images/logolargo2.jpeg"/></div>
    <h1>Registro</h1>
    <form class="login-form">
      
      <input id="reg_user" type="text" placeholder="Nombre" style="width:48%; float:left;margin-right: 2px;" required>
      <input id="reg_apellido" type="text" placeholder="Apellido" style="width:50%" required>
      
      
      <input id="reg_email" type="email" placeholder="Email" required>
      <input id="reg_pass" type="password" placeholder="Contraseña" required>
      <!--<input type="password" placeholder="Confirmar Contraseña"/>-->
      <div id="tipo-intervalo">
        <li class="list-group-item d-flex justify-content-between align-items-center" style="padding-bottom:10px;color:#005b62;">
            ¿Eres lider de equipo?
            <select class="form-control" id="reg_lider" style="color:#005b62">
                <option value="si">Si</option>
                <option value="no">No</option>
            </select>
        </li>
      </div>
      <button id="reg_btn">Registrarse</button>
      <p class="message">Ya registrado?<a id="volver_login" href="#">Iniciar Sesión</a></p>
    </form>
  </div>
 