<link rel="stylesheet" href="stylelogin2.css">
<meta charset="UTF-8">
<div class="container">
    <div class="info">
      
    </div>
  </div>

  

  <div class="form">
    <div class="thumbnail"><img src="https://deskhabitum.feriadesoftware.cl/images/logolargo2.jpeg"/></div>
    <h1>Registro</h1>
    <form class="login-form">
      
      <input id="reg_user" type="text" placeholder="Nombre" style="width:48%; float:left;margin-right: 2px;"/>
      <input id="reg_apellido" type="text" placeholder="Apellido" style="width:50%"/>
      
      
      <input id="reg_email" type="email" placeholder="Email"/>
      <input id="reg_pass" type="password" placeholder="Contraseña"/>
      <!--<input type="password" placeholder="Confirmar Contraseña"/>-->
      
      <button id="reg_btn">Registrarse</button>
      <p class="message">Ya registrado?<a id="volver_login" href="#">Iniciar Sesión</a></p>
    </form>
  </div>
 