<div class="signupFrm">
    <form action="" class="form">
      <h1 class="title">Sign up</h1>

      <div class="inputContainer">
        <input type="text" class="input" id="reg_email" placeholder="a">
        <label for="" class="label" >Email</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" id="reg_user" placeholder="a">
        <label for="" class="label">nombre</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" id="reg_apellido" placeholder="a">
        <label for="" class="label">apellido</label>
      </div>

      <div class="inputContainer">
        <input type="text" class="input" id="reg_pass" placeholder="a">
        <label for="" class="label">Password</label>
      </div>

      <input type="submit" class="submitBtn" id="reg_btn" value="Sign up">
      
    </form>
    <form>
        <input type="submit" id="volver_login" value="Volver"/>
        
      </form>
  </div>
