@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-primary: #3AAF88;

    --color-danger2: #ff7782;
    --color-danger: #3AAF88;
    --color-success:#41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark:#363949;
    --color-light:rgba(132,139,200,0.18);
    --color-primary-variant: #111e8;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem ;
    --border-radius-2: 0.8rem ;
    --border-radius-3: 1.2rem ;

    --card-padding:1.8rem;
    --padding-1:1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}

* {

    margin:0;
    padding:0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html{
    font-size: 14px;

}

body{
    /*Para tapar scroll tamaño ventana*/
    
    overflow-x:hidden;
    /*
    overflow-y:hidden;
*/
    width: 100vw;
    height: 100vh;
    font-family: poppins,sans-serif;
    font-size:0.88rem;
    background:var(--color-background);
    user-select: none;
    color: var(--color-dark);
}

.container{
    display:grid;
    width: 100%;
    max-width: fit-content;
    padding-right: 2rem;
    --bs-gutter-x: 0;
    margin: 0 auto;
    gap: 1.8rem;
    /*grid-template-columns: 14rem auto 23rem;*/
    /*
    grid-template-columns: 5.4rem auto;

     */
    grid-template-columns: 5.4rem auto;
}


a {
    color: var(--color-dark);
    text-decoration: none;
}

img{
    display:block;
    width: 100%
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size:1.4rem;
}

h3 {
    font-size: 0.87rem;
}

h4 {
    font-size:0.85rem;
}

h5 {
    font-size:0.77rem ;
}

small{
    font-size: 0.75rem;
}

.profile{
    display: flex;
    justify-content: end; /*corrido derecha*/
    margin-top:1rem;
    gap: 1.5rem;
    text-align:left;
    margin-right: 2.6rem;
}

.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.text-muted{
    color: var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}

b{
    color: var(--color-dark);
}

.primary{
    color: var(--color-primary);
}
.danger{
    color: var(--color-danger);
}
.success{
    color:var(--color-success);
}
.warning {
    color: var(--color-warning);
}

aside{
    background: white;
    width: 14rem;
    height: 100vh;
    position:sticky;
    /*No funciona, a futuro arreglar detalle para fluidez*/
    transition: width 0.5s ease-in-out;

}

aside::before{
    content:"";
    position:absolute;
    width:2rem;
    height: 100%;
    top: 0;
    left: 100%;
    
}


aside .top{
    /*background: white;*/
    display:flex;
    align-items:center;
    justify-content: space-between;
    margin-top:1.4rem;
    /**/
    position:relative;
}

.shrink-btn{
    
    position:absolute;
    top: 50%;
    padding: 0 0.3rem;
    background-color: var(--color-danger) ;
    border-radius:6px;
    cursor:pointer;
    box-shadow:0 3px 10px -3px rgba(70,46,118,0.3);
    right:-1.7rem;
    transform: translateY(-50%) translateX(-8px);
    opacity: 0;
    pointer-events:none ;
    transition:0.3s;

}

.shrink-btn i{
    line-height: 27px;
    transition: 0.3s;
}

.shrink-btn:hover{
    background-color: var(--color-danger);
}

aside:hover .shrink-btn,shrink-btn.hovered{
    transform: translateY(-50%) translateX(0px);
    opacity: 1;
    pointer-events: all;
}



aside .logo{
    display: flex;
    gap: 0.8rem;
    margin-left: 1rem;
}

aside .logo img{
    width: 2rem;
    height : 2rem;
}

aside .close{
    display: none;
}

/* ==SIDEBAR==*/

aside .sidebar{

    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 0.5rem;


}


aside h3{
    font-weight: 500;
}

aside .sidebar a{
    display:flex;
    color: var(--color-info-dark);
    margin-left:2rem;
    gap:1rem;
    align-items:center;
    position:relative;
    height: 3.7rem;
    transition: all 300ms ease;
    text-decoration: none;
}

/*submenu*/
aside .sidebar a .dropdown{
    position: absolute;
    right: 0;
    transition:0.3s ease;

}

aside .sidebar .item .sub-menu{
    display:none;
}

aside .sidebar .item .sub-menu .sub-item{
    height: 2.3rem;
}

aside .sidebar .sub-menu a{
    padding-left: 8px;

}

.rotate{
    transform:rotate(90deg);
}


/**/

aside .sidebar a span{
    font-size: 1.6rem;
    transition: all 300ms ease;
    text-decoration: none;
}

/*
aside .sidebar a:last-child{
    position: absolute;
    bottom: 3rem;
    width: 100%;
}
*/

aside .sidebar a.active{
    background: var(--color-light);
    color: var(--color-primary);
    margin-left:0;
}

aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background: var(--color-primary);
}

aside .sidebar a.active span{
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover{
    color: var(--color-primary);

}

aside .sidebar a:hover span{
    margin-left: 1rem;
}

aside .sidebar .message-count{
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

/* ========MAIN==========*/

main {
    margin-top:2px;
    margin-left: 0rem;
}

main .date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

main .date input[type='date']{
    background: transparent;
    color: var(--color-dark);
}

main .insights {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1.6rem;
}

main .insights > div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top:1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

main .insights > div:hover{
    box-shadow: none;
}

main .insights > div span{
    background: var(--color-primary);
    padding: 0.5rem;
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}


/*Si se achica sidebar*/


body.shrink aside {

    width: 5.4rem;
}

body.shrink .shrink-btn i{
    transform: rotate(-180deg);
}


body.shrink .container{
    grid-template-columns: 5.4rem auto;
}

body.shrink .logo{
    margin-left:2rem;
}
body.shrink .profile{
    margin:1rem;
}

body.shrink .logo h2{
    display:none;
}

body.shrink aside .profile .info {
    display:none;
}


body.shrink h3{
    display:none;
}

body.shrink .message-count{
    display:none;
}


/*---TOPBAR---*/



.mainApp .topBar{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid var(--color-success);
    background-color: var(--color-primary) ;
    /*
    -webkit-user-select:none;
    */

}



.topBar > .titleBar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width:100%;
    -webkit-app-region:drag;
}
/*
.titleBar > .toggleButton{

    width: 50px;
    height: 35px;
    border:none;
    outline:none;
    background-color: transparent;
    background-image: url('../icons/icon_menu.png');
    background-repeat: no-repeat;
    background-position: center;
    transition:0.2s;
    cursor:pointer;
}*/

.titleBar > .toggleButton:hover{
    background-color: #272C36;
}

.titleBar > .toggleButton:active{
    background-color: #4F9FEE;
}

.titleBar > img{
    width: 1.5rem;
    height: 1.5rem;
    margin-left:20px;
    margin-top:9px;
}

.titleBar > title {
    margin-left: 10px;
    width: 100%;
    line-height: 30px;
    margin-top:13px;
    padding-bottom:5px;
    -webkit-app-region:drag;
}

.topBar > .titleBarBtn{
    display: flex;
    flex-direction: row;
    margin-top:10px;
    margin-left:11px;
    gap:9px;
    width: 100px;
    height: 90px;

}

.titleBarBtn .topBtn {
    width: 20px;
    height: 20px;
    border-width: 100px;
    border-color: red;
    /*border-radius:var(--border-radius-1);*/
    /*justify-content: stretch;*/



    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    transition:0.2s;
    cursor: pointer;
}

.titleBarBtn > .topBtn:hover{
    background-color: slategray;
}

.titleBarBtn > .topBtn:active{
    background-color:white;
}

.titleBarBtn .minimizeBtn{
    background-image: url("../../../DeskHabitum/src/icons/mini0.png");
}

.titleBarBtn  .maximizeBtn{
    background-image: url("../../../DeskHabitum/src/icons/maxi2.png");
}
.titleBarBtn .restoreBtn{
    background-image: url("../../../DeskHabitum/src/icons/icon_restore.png");
}
.titleBarBtn .closeBtn{
    background-image: url("../../../DeskHabitum/src/icons/clos0.png");
}

.title{
    margin-left:7px;
    margin-top:10px;
}
.logoredondo{
    border-radius:50%;
    margin-top:3px;
}



/*TABS ELECCION MANIA*/
.mytabs {
    display: flex;
    flex-wrap: wrap;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 12px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 10px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs .tab h2 {
    font-size: 3em;
}

.mytabs input[type='radio']:checked + label + .tab {
    display: block;
}

.mytabs input[type="radio"]:checked + label {
    background: #fff;
}

/*---FIN TABS ELECCION MANIAS REPORTES----*/

/*--INICIO ELECCION RECIENTES MES ANIO --*/

.radio2{
    display: inline-flex;
    overflow: hidden;
    border-radius:15px;
    box-shadow:0 0 5px rgba(0,0,0,0.25);
    
}

.radio2 .radio__input{
    display:none;
}
.radio2 .radio__label{
    color:#ffffff;
    padding:8px 14px;
    font-size:14px;
    font-family: sans-serif;

    background:#3ac68f ;
    cursor: pointer;
    transition:background 0.1s;

}

.radio2 .radio__label:not(:last-of-type){
    border-right: 1px solid #005b52;
}

.radio2 .radio__input:checked +  .radio__label{
    background:  #005b52;
}



/*- INICIO MOSTRAR REPORTES POR FECHA--*/
#tricorec {
    visibility: visible;
}
#tricomes{
    visibility: hidden;
}

#tricoanio{
    visibility: hidden;
}

#objrec {
    visibility: visible;
}
#objmes{
    visibility: hidden;
}

#objanio{
    visibility: hidden;
}



/*-FIN MOSTRAR REPORTES POR FECHA-*/
/*---FIN TABS ELECCION RECIENTES MES ANIO---*/
/* DESDE AQUI PARTE PARA NOTIFICACION DE EXITO DE TAREA - EXPERIMENTAL PARA TESTING*/

.alerta{
    background: #99c8f9;
    padding: 15px 30px;
    min-width: 360px;
    position: absolute;
    right: 0px;
    left: 65%;
    top:2%;
    border-radius: 4px;
    border-left: 4px solid #0F6ACC

}

.alerta.mostrar{
    animation: show_slide 2s ease forwards;

}
@keyframes show_slide{
    0%{
        transform:translateX(100%);
    }

}

.alerta.esconder{
    display:none;
}
.exito{
    padding: 0 20px;
    font-size: 14px;
}

.alerta .close-btn{
    position: absolute;
    right: 0px;
    top: 50%;
    left: 72%;
    transform: translateY(-50%);
    background: #0F6ACC;
    padding: 16px 16px;
    cursor: pointer;
}

.close-btn:hover{

    background:#0F6ACC;
}

.div-boton-cambios{
    position:relative;
    top: 10px;
    bottom: 10px;

}
.boton-cambios{
    padding: 4px 8px;
    font-size: 14px;
    background: #0F6ACC;
    border: none;
    outline: none;
    color:white;
    font-weight: 400;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

/* HASTA AQUI */

/*========== VARIABLES CSS ==========*/
:root {
    --header-height: 3.5rem;
    --nav-width: 219px;
    /*========== Colors ==========*/
    --first-color: #6923D0;
    --first-color-light: #F4F0FA;
    --title-color: #19181B;
    --text-color: #58555E;
    --text-color-light: #A5A1AA;
    --body-color: #F9F6FD;
    --container-color: #FAFAFA;
    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;
    --normal-font-size: .938rem;
    --small-font-size: .75rem;
    --smaller-font-size: .75rem;
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;
    /*========== z index ==========*/
    --z-fixed: 100;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    padding: 1rem 1rem 0;
    background-color: var(--container-color);
    box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
    z-index: var(--z-fixed);
    transition: .4s;
  }
  .nav__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 3rem;
    overflow: auto;
    scrollbar-width: none; /* For mozilla */
  }
  /* For Google Chrome and others */
  .nav__container::-webkit-scrollbar {
    display: none;
  }
  .nav__logo {
    font-weight: var(--font-semi-bold);
    margin-bottom: 2.5rem;
  }
  .nav__list,
  .nav__items {
    display: grid;
  }
  .nav__list {
    row-gap: 2.5rem;
  }
  .nav__items {
    row-gap: 1.5rem;
  }
  .nav__subtitle {
    font-size: var(--normal-font-size);
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--text-color-light);
  }
  .nav__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
  }
  .nav__link:hover {
    color: var(--first-color);
  }
  .nav__icon {
    font-size: 1.2rem;
    margin-right: .5rem;
  }
  .nav__name {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    white-space: nowrap;
  }
  .nav__logout {
    margin-top: 5rem;
  }
  /* Dropdown */
  .nav__dropdown {
    overflow: hidden;
    max-height: 21px;
    transition: .4s ease-in-out;
  }
  .nav__dropdown-collapse {
    background-color: var(--first-color-light);
    border-radius: .25rem;
    margin-top: 1rem;
  }
  .nav__dropdown-content {
    display: grid;
    row-gap: .5rem;
    padding: .75rem 2.5rem .75rem 1.8rem;
  }
  .nav__dropdown-item {
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: var(--text-color);
  }
  .nav__dropdown-item:hover {
    color: var(--first-color);
  }
  .nav__dropdown-icon {
    margin-left: auto;
    transition: .4s;
  }
  /* Show dropdown collapse */
  .nav__dropdown:hover {
    max-height: 100rem;
  }
  /* Rotate icon arrow */
  .nav__dropdown:hover .nav__dropdown-icon {
    transform: rotate(180deg);
  }
  /*===== Show menu =====*/
  .show-menu {
    left: 0;
  }
  /*===== Active link =====*/
  .active {
    color: var(--first-color);
  }




/*------------INICIO topbar--*/
.topbar{
    display: flex;
    justify-content: end;
    background-color: white;
    box-shadow: #58555E;
       
}
 
.topbar button{
    display: none;
}
 
.topbar .profile2{
    display:flex;
    gap:0.5rem;
    text-align:right;
}
 
.topbar .profile2 .info p{
    margin-bottom:0px;
}

.topbar .profile2 .info .text-muted{
    margin-bottom:0px;
    text-align: right;
}


/*------------FIN topbar--*/


/*--jhacerlo seleccionable-*/
.force-select {  
    -webkit-user-select: text;  /* Chrome 49+ */
    -moz-user-select: text;     /* Firefox 43+ */
    -ms-user-select: text;      /* No support yet */
    user-select: text;          /* Likely future */   
  }