<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv = "X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=devide=width", initial-scale="1.0">
    <title>Tutorial 1</title>
    <!-- Material CDN --->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel='stylesheet'>
    <!-- STYLESHEET -->
    <link rel="stylesheet" href = "./style.css">

</head>
<body class="shrink">
    <div class = "container" >
        <aside>
            <div class = "top">
                <span class = "shrink-btn">
                    <i class = 'bx bx-chevron-left'></i>
                </span>
                <div class = "logo">
                    <img src = "../images/logo1.png">
                    <h2>Desk<span class= "danger">Habitum</span></h2>
                </div>
                <div class = "close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
            </div>
            <div class="profile">
                <div class="profile-photo">
                    <img src = "https://github.com/mdo.png">
                </div>
                <div class="info">
                    <p>Hey, <b>Daniel</b></p>
                    <small class="text-muted">Admin</small>
                </div>

            </div>
            <div class="sidebar">

                <a href = "index.html">
                    <span class="material-icons-sharp">grid_view</span>
                    <h3>Home</h3>
                </a>
                <a href = "Profile.html" >
                    <span class="material-icons-sharp">person_outline</span>
                    <h3>Profile</h3>
                </a>
                <a href = "#" class ="active">
                    <span class="material-icons-sharp">receipt_long</span>
                    <h3>Tips</h3>
                </a>
                <a href = "Dashboard.html" >
                    <span class="material-icons-sharp">insights</span>
                    <h3>Dashboards</h3>
                </a>
                <a href = "Notifications.html">
                    <span class="material-icons-sharp">mail_outline</span>
                    <h3>Notifications</h3>
                    <span class="message-count"> 26</span>
                </a>


                <a href = "Settings.html">
                    <span class="material-icons-sharp">settings</span>
                    <h3>Settings</h3>
                </a>


                <a href = "#">
                    <span class="material-icons-sharp">logout</span>
                    <h3>Cerrar Sesión</h3>
                </a>
            </div>
        </aside>
        <!----END ASIDE---->
        <main>
            <nav>

            </nav>
            <h1>Dashboard</h1>
            <div class = "date">
                <input type="date">
            </div>



        </main>
    </div>
    <script src="app.js"></script>
</body>
</html>
